
body {
   	background: rgb(2,0,36);
	background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 0%, rgba(0,255,50,0.3060574571625525) 100%);
}

.root {
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}

.top {
	overflow: hidden;
	background-color: #77e000;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	background: rgb(124,255,105);
	background: radial-gradient(circle, rgba(124,255,105,1) 0%, rgba(22,117,12,1) 100%);
}

.user {
	float: left;
	margin-top: 10px;
	margin-left:  10px;
	margin-right: 10px;
	margin-bottom: 15px;
	padding: 5px;
	align-items: center;
	justify-content: center;
	background: rgb(124,255,105);
	background: radial-gradient(circle, rgba(124,255,105,1) 0%, rgba(22,117,12,1) 100%);
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
}


.photo {
	margin-top: 5px;
	margin-left: 10px;
	height: 100px;
	width: 100px;
	background-image: url('Photo.jpg');
	background-size: cover;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
}


.name {
	margin-top: 5px;
	height: 40px;
	text-align: center;
	text-shadow:1px 1px 0 rgb(101,123,0),2px 2px 1px rgba(0,0,0,1);
	text-shadow:1px 1px 1px rgba(0,0,0,1);
	-webkit-text-shadow:1px 1px 1px rgba(0,0,0,1);
	-moz-text-shadow:1px 1px 1px rgba(0,0,0,1);
	color:#ffffff;
	font-size:15px;
	font-family:"Arial Black", Gadget, sans-serif;
}

.title {
	margin: 1%;
	float: left;	
	border-bottom: 5px solid #26882C;
	text-shadow:1px 1px 0 rgb(227,227,227),2px 2px 0 rgb(198,198,198),3px 3px 0 rgb(170,170,170),4px 4px 0 rgb(142,142,142),5px 5px 0 rgb(113,113,113),6px 6px 0 rgb(85,85,85),7px 7px 0 rgb(57,57,57),8px 8px 0 rgb(28,28,28),9px 9px 1px rgba(0,0,0,1);
	-webkit-text-shadow:1px 1px 0 rgb(227,227,227),2px 2px 0 rgb(198,198,198),3px 3px 0 rgb(170,170,170),4px 4px 0 rgb(142,142,142),5px 5px 0 rgb(113,113,113),6px 6px 0 rgb(85,85,85),7px 7px 0 rgb(57,57,57),8px 8px 0 rgb(28,28,28),9px 9px 1px rgba(0,0,0,1);
	-moz-text-shadow:1px 1px 0 rgb(227,227,227),2px 2px 0 rgb(198,198,198),3px 3px 0 rgb(170,170,170),4px 4px 0 rgb(142,142,142),5px 5px 0 rgb(113,113,113),6px 6px 0 rgb(85,85,85),7px 7px 0 rgb(57,57,57),8px 8px 0 rgb(28,28,28),9px 9px 1px rgba(0,0,0,1);
	color:#ffffff;
	font-size:70px;
	font-family:"Arial Black", Gadget, sans-serif;
	
}


.icons {
	margin: 5px;
	width: 20%;
	float: right;
	background-color: #77e000;
	border: 5px solid #26882C;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
}

.tabs {
	text-align: center;
	overflow: hidden;
	margin-top: 15px;
	background: rgb(124,255,105);
	background: radial-gradient(circle, rgba(124,255,105,1) 0%, rgba(22,117,12,1) 100%);
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
}

.tab {
	display: inline-block;
	padding: 5px;
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
	text-shadow:1px 1px 0 rgb(128,128,128),2px 2px 1px rgba(0,0,0,1);
	-webkit-text-shadow:1px 1px 0 rgb(128,128,128),2px 2px 1px rgba(0,0,0,1);
	-moz-text-shadow:1px 1px 0 rgb(128,128,128),2px 2px 1px rgba(0,0,0,1);
	color:#ffffff;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:20px;
}

.content {
	margin-top: 15px;
	padding: 5px;
	background-color: #77e000;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	box-shadow: 9px 9px 7px -4px rgba(0,0,0,0.75);
	background: rgb(124,255,105);
	background: radial-gradient(circle, rgba(124,255,105,1) 0%, rgba(22,117,12,1) 100%);
}

.module {
	height: 300px;
	margin: 15px;
	border-radius: 10px 10px 10px 10px;
	background-color: #ffffff;
}
