.contact {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-message {
  margin: 20px;
  font-family: "Lato";
  font-size: 25px;
  transition: transform 0.5s;
  animation-name: opacity-animation;
  animation-duration: 2s;
}
