
:root {
    --color0: rgba(0,0,0,0);
    --color1: rgb(0, 0, 0);
    --color2: rgb(27, 116, 67);
    --color3: rgb(30, 161, 83);
    --color8: rgb(40, 199, 103);
    --color4: rgb(231, 255, 204);
    --color5: rgb(255, 253, 220);
    --color6: rgb(253, 255, 236);
    --color7: rgb(251, 255, 239);
    --text1: 20px;
    --text2: 20px;
    --text3: 20px;
    --text4: 30px;
    --fontWeight: bold;
    --fontFamily: 'Helvetica', 'Arial', sans-serif;
  }

* {
    box-sizing: border-box;
    outline:1px solid var(--color0);
    font-family: var(--fontFamily);
  }

br {
    content: "";
    margin: 20px;
    display: block;
}

img {
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
}

a {
    color: var(--color3);
}

@keyframes bodyAnimation {
    0% {
        transform: translateX(0);
        opacity: 0;
        
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

body {
    background-color: var(--color7);
    padding: 20px;
    animation: 1s ease-out 0s 1 bodyAnimation;
  
}

.body {
    padding: 30px;
    overflow: hidden;
	background: linear-gradient(to right,var(--color3),var(--color2));
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px var(--color1);
	-moz-box-shadow: 9px 9px 7px -4px var(--color1);
	box-shadow: 9px 9px 7px -4px var(--color1);
}

@keyframes headerAnimation {
    0% {
        transform: translateX(-5%);
        opacity: 0;
        
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.header {
    background: linear-gradient(to right,var(--color4),var(--color3));
    box-shadow: 9px 9px 7px -4px var(--color1);
    border-radius: 5px 5px 0px 5px;
    animation: 2s ease-out 0s 1 headerAnimation;
}

.header > img {
    min-width: 1px;
}


.tabs {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    animation: 2s ease-out 0s 1 headerAnimation;
}

.tab {
    font-weight: var(--fontWeight);
    margin-top: -16px;
    margin-bottom: 16px;
    margin-left: 13px;
    float: right;
    list-style-type: none;
    padding: 10px;
    text-align:center;
    font-size: 16px;
    background: linear-gradient(to right,var(--color3),var(--color2));
    box-shadow: 5px 4px 4px 0px var(--color1);
    border-radius: 0px 0px 5px 5px;
    color: var(--color7);
    background-color: #000;
    z-index: 999; 
    position: relative;
    transition: width 1s, height 1s;
    overflow: hidden;
    height: 37px;
    width: 130px;
}

.tab2 {
    min-height: 20px;
}

.tab3 {
    font-weight: var(--fontWeight);
    margin-top: -16px;
    margin-bottom: 16px;
    float: right;
    list-style-type: none;
    padding: 10px;
    text-align:center;
    font-size: 16px;
    background: linear-gradient(to right,var(--color3),var(--color2));
    box-shadow: 5px 4px 4px 0px var(--color1);
    border-radius: 0px 0px 5px 5px;
    color: var(--color7);
    background-color: #000;
    z-index: 999; 
    position: relative;
    transition: width 1s, height 1s;
    overflow: hidden;
    height: 37px;
    width: 130px;
    display: none;
    min-height: 20px;
}

@media only screen and (max-width: 700px) {
    .tab {
        display: none;
    }

    .tab4 {
        display: initial;
    } 

}


.tab3:hover {
    transition: min-height .3s ease-in-out;
    min-height: 300px;
}

.subtabs {
    margin-top: 5px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.tab:hover {
    cursor:pointer;
    background: var(--color3);
    background: linear-gradient(to right,var(--color2),var(--color3));
    font-size: 17px;
    width: 137px;
}

.tab2:hover {
    transition: min-height .3s ease-in-out;
    min-height: 195px;
}

@media only screen and (max-width: 700px) {
    
    .tab2:hover {
        transition: min-height .3s ease-in-out;
        min-height: 290px;
    }
    

}

.subtab:hover {
    background: var(--color3);
    background: linear-gradient(to right,var(--color3),var(--color2));
    border-radius: 5px;
}

.tab:hover > .subtabs {
    display: block;
    position: relative;
}

.subtab {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    text-align:center;
    display: block;
}

@keyframes contentAnimation {
    0% {
        opacity: 0;
        transform: translateX(5%);
        
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -25px;
    padding: 20px;
    background: linear-gradient(to right,var(--color4),var(--color3));
    box-shadow: 9px 9px 7px -4px var(--color1);
    border-radius: 10px 10px 10px 10px;
    animation: 2s ease-out 0s 1 contentAnimation;
}

.baseModule {
    width: 100%;
    margin: 10px;
}

.user {
    float: left;
    padding: 20px;
    border-right: 3px solid var(--color2);
    height: 190px;
}

.photo {
    width: 110px;
    height: 110px;
    box-shadow: 9px 9px 7px -4px var(--color1);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 7px;

}

.profilePhoto {
    width: 100px;
    min-width: 0px;
    height: 100px;
    box-shadow: 9px 9px 7px -4px var(--color1);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
}


.name {
    font-weight: var(--fontWeight);
    height: 50px;
    padding-top: 5px;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: var(--color2);
}

.name > br {
    content: "";
    margin: 0px;
    display: block;
 }

 @keyframes contentChangewidth {
    0% {
        margin-right: 50px;
    }
    100% {
        margin-right: 0px;
    }
}

 @keyframes changewidth {
    0% {
        font-size: 50px;
    }
    100% {
        font-size: 55px;
    }
}
  
.titleContent {
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-duration: 5s;
    animation-name: contentChangewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.title {
    font-weight: var(--fontWeight);
    border-radius: 50%;
    height: 150px;	
    width: 150px;	
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-shadow: 5px 5px 5px black; 
    box-shadow: 5px 5px 5px 0px black;
    color:var(--color7);
    background: linear-gradient(to bottom right,var(--color3),var(--color2));
    animation-duration: 1s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes iconsAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icons {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    height: 50px;
    border-bottom: 3px solid var(--color2);
}

.icon {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    animation: s ease-out 0s 1 iconsAnimation;
    transition: width 1s, height 1s;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

.icon2 {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    margin-top: -4px;
    align-items: center;
}

.icon:hover {
    height: 50px;
    width: 50px;
}

.module {
    border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 9px 9px 7px -4px var(--color1);
	-moz-box-shadow: 9px 9px 7px -4px var(--color1);
	box-shadow: 9px 9px 7px -4px var(--color1);
    overflow: hidden;
}

.caracteristics-title {
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    color: var(--color2);
    margin-bottom: 20px;
}

.caracteristics-description {
    font-size: var(--text3);
    text-align: justify;
    color: var(--color1);
    margin: 20px;
}

.caracteristics-content {
    margin: 20px;
}

.caracteristics-subtitle {
    font-weight: var(--fontWeight);
    font-size: var(--text2);
    width: 40%;
    clear: both; 
    float: left; 
    color: var(--color2);
    margin-bottom: 20px;
}

.caracteristics-subdescriptions {
    font-size: var(--text1);
    float: left;
    text-align: justify;
    width: 60%;
    color: var(--color1);
    margin-bottom: 20px;
}

.description-title {
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    text-align: center;
    color: var(--color2);
    margin-bottom: 20px;
}

.description-description {
    font-size: var(--text3);
    text-align: justify;
    color: var(--color1);
    margin: 30px;
}

.descriptionImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

[class*="col-"] {
    width: 100%;
  }

@media only screen and (max-width: 700px) {
    .descriptionImage {
        flex-flow: wrap;
    }
}

.descriptionImage-left {
    margin: 10px;
}

.descriptionImage-right {
    margin: 10px;
}

.moduleTitle {
    width: 100%;
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    text-align: left;
    color: var(--color2);
    padding: 20px;
    background: linear-gradient(to right,var(--color3),var(--color2));
}

.descriptionImage-title2 {
    cursor: pointer;
}

.descriptionImage-description {
    font-size: var(--text3);
    text-align: justify;
    color: var(--color1);
}

.descriptionImage-image {
    box-shadow: 7px 7px 5px -4px var(--color1);
    border-radius: 5px 5px 5px 5px;
}

.descriptionImages-title {
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    color: var(--color2);
    padding: 20px;
}

.descriptionImages-description {
    font-size: var(--text3);
    color: var(--color1);
    padding: 20px;
    text-align: justify;
}

.descriptionImages-content {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex: 1 1 0px;
}

.descriptionImages {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom: 20px;
    margin-top: auto;
    flex: 1 1 0px;
    
}

.descriptionImages-imageContent {
    align-items: center;
    justify-content: center;
}

.descriptionImages-image {
    flex-basis: 100%;
    max-width:100%;
    margin-bottom: 10px;
    min-width: 200px;
    box-shadow: 7px 7px 5px -4px var(--color1);
    border-radius: 5px 5px 5px 5px;
}

.descriptionImages-subtitle {
    font-weight: var(--fontWeight);
    flex-basis: 100%;
    font-size: var(--text2);
    text-align: center;
    color: var(--color2);
    margin-bottom: 10px;
}

.descriptionImages-subdescriptions {
    flex-basis: 100%;
    font-size: var(--text1);
    text-align: justify;
    color: var(--color1);
}

.images-title {
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    color: var(--color2);
}

.images-description {
    font-size: var(--text3);
    color: var(--color1);
}

.images-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    padding: 10px;
}

.images-image-content {
    padding: 10px;
}

.images-image {
    box-shadow: 7px 7px 5px -4px var(--color1);
    border-radius: 5px 5px 5px 5px;
}

.presentation {
    margin: 20px;
}

.presentation-title {
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    color: var(--color2);
    margin-bottom: 15px;
}

.presentation-description {
    font-size: var(--text3);
    color: var(--color1);
    margin-bottom: 20px;
}

.presentation-list {
    margin-bottom: 20px;
    padding-left: 20px;
}

.presentation-author {
    font-size: var(--text2);
    color: var(--color1);
    margin-bottom: 10px;
}

.slides-title {
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    text-align: center;
    color: var(--color2);
}

.slides-description {
    font-size: var(--text3);
    text-align: justify;
    color: var(--color1);
    margin: 20px;
}

.slides-imageContent {
    display: flex;
    align-content: center;
    overflow: hidden;
    margin: 20px;
}

.slides-image {
    width:80%;
    height:100%;
    box-shadow: 9px 9px 7px -4px var(--color1);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.slides-left {
    width:10%;
    border: none;
    background-color: var(--color0);
    color: var(--color2);
}

.slides-left:hover {
    color: var(--color3);
}

.slides-right {
    width:10%;
    border: none;
    background-color: var(--color0);
    color: var(--color2);
}

.slides-right:hover {
    color: var(--color3);
}

.slides-subtitle {
    font-weight: var(--fontWeight);
    font-size: var(--text2);
    text-align: center;
    color: var(--color2);
    margin: 20px;
}

.slides-subdescriptions {
    font-size: var(--text1);
    text-align: justify;
    color: var(--color1);
    margin: 20px;
}


.title-title {
    font-weight: var(--fontWeight);
    font-size: var(--text4);
    color: var(--color2);
    margin: 40px;
    text-align: center;
}